<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

	<head th:fragment="head">
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{~/global.css}"/>
		<title>Epic Task</title>
	</head>
	
	<body>
	
		<nav th:fragment="menu">
			<ul>
				<li><a href="/task">Tarefas</a></li>
				<li><a href="#">Concluidos</a></li>
				<li><a href="/user" class="active">Equipe</a></li>
			</ul>
		</nav>
	
		<footer th:fragment="footer">
			Todos os direitos reservados
		</footer>
	</body>
</html>