<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

	<head th:include="_template :: head"></head>

	<body>
	
		<div class="content">
			<h1>Epic Task</h1>
			
			<form th:action="@{/login}" method="POST">
				
				<input 
					type="text" 
					placeholder="Digite o seu email"
					name="username"
				/>
		
				<input 
					type="password" 
					placeholder="Digite a sua senha"
					name="password"
				/>
		
				<div class="actions">
					<a href="/" class="btn">Cancelar</a>
					<button class="btn blue">Logar</button>
				</div>
			</form>
		</div>
		
	
	</body>
</html>